body{
    background-color:rosybrown; /*Definindo cor de fundo*/
    font: 100% Verdana, Time News Roman, Sanserif; /*Escolhendo as fontes*/
    margin: 0;  /*Definindo a distância da margem*/
    padding: 0; /*Definindo a distancia com relação a margem*/
}

#moldura{ /* # refere-se ao id*/
    background-color: beige;
    width: 80%; /*largura da div*/
    margin: 0 auto;    
}

#topo{
    font: 100% Tahoma, Times New Roman, Sanserif;
    padding: 10px;
    background-color: burlywood;
}

#conteudo{
    width: 80%;
    background-color: cornsilk;
    min-height: 400px; /*Altura minima mesmo sem conteúdo*/
    float: left; /*flutuar o conteudo para esquerda*/
}

#navegacao{
    width: 15%;
    background-color: bisque;
    float: left;
    min-height: 200px;
    padding-left: 20px;
}

#rodape{
    clear: both; /*limpa as formatações anteriorews*/
    background-color: burlywood;
}